@model dynamic
@{
    ViewBag.Title = "WebCacheSample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>WebCacheSample：</h1>
                <h2>@(Model.ToString())</h2>
            </hgroup>
            <p>
               
            </p>
        </div>
        <div class="content-wrapper">
            <p>
            </p>
        </div>
    </section>
}
